/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a7c080;
  --ifm-color-primary-dark: #83c092;
  --ifm-color-primary-darker: #7fbbb3;
  --ifm-color-primary-darkest: #d699b6;
  --ifm-color-primary-light: #dbbc7f;
  --ifm-color-primary-lighter: #e69875;
  --ifm-color-primary-lightest: #e67e80;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(167, 192, 128, 0.1);
  --ifm-font-family-base: 'JetBrains Mono', monospace;
  --ifm-font-family-monospace: 'JetBrains Mono', monospace;
  --ifm-background-color: #272e33;
  --ifm-background-surface-color: #2e383c;
  --ifm-color-content: #d3c6aa;
  --ifm-heading-color: #d3c6aa;
  --ifm-container-width: 1400px;
  --ifm-container-width-xl: 1600px;
  --doc-sidebar-width: 280px;
}

[data-theme='dark'] {
  --ifm-color-primary: #a7c080;
  --ifm-color-primary-dark: #83c092;
  --ifm-color-primary-darker: #7fbbb3;
  --ifm-color-primary-darkest: #d699b6;
  --ifm-color-primary-light: #dbbc7f;
  --ifm-color-primary-lighter: #e69875;
  --ifm-color-primary-lightest: #e67e80;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(167, 192, 128, 0.15);
  --ifm-background-color: #272e33;
  --ifm-background-surface-color: #2e383c;
  --ifm-color-content: #d3c6aa;
  --ifm-heading-color: #d3c6aa;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/static/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

img:not([src*='maps.googleapis.com']):not([src*='maps.gstatic.com']):not([src$='.svg']) {
  filter: grayscale(100%);
}

* {
  font-family: 'JetBrains Mono', monospace;
}

img:not(.sleeper-avatar):not([src$='.svg']) {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-wrapper {
  max-width: 100%;
}

article {
  max-width: 900px;
  margin: 0 auto;
}

.theme-doc-markdown {
  max-width: 900px;
}

.navbar__title {
  font-family: 'JetBrains Mono', monospace;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name-center {
  text-align: center;
}

.styled-name {
  font-family: 'JetBrains Mono', monospace;
  font-size: 3rem;
  margin: 0;
}

.sleeper-avatar {
  height: 25px;
  border-radius: 50%;
  margin-bottom: 0;
  filter: grayscale(100%);
}

table {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.levelUp {
  color: #a7c080;
  height: 30px;
}

.levelDown {
  color: #e67e80;
  height: 30px;
}

code {
  color: #a7c080;
}
